.navbar{
  min-height: 60px;
  margin-bottom: 0;
}
.navbar-default{
  background-color: #fff;
}
.navbar-brand{
  height:60px;
  line-height: 30px;
}
.navbar-nav > li > a{
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}
.navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus{
  color: #337ab7;
  background-color: #fff;
 }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active{
  color: #337ab7;
}
.nav-user{
  max-height: 60px;
  .user-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
}
.nav .dropdown-menu{
  width: 191px;
  a{
    color:#777;
    font-weight: 600;
    border-width: 0;
    text-decoration: none;
  }
  a:hover,a:focus{
    color: #337ab7;
    border-width: 0;
    background-color: #f3f3f3;
  }
}
@media (min-width: 768px){
  .navbar-nav {
    padding-left: 40px;
  }
}