.poem-card{
  padding: 16px 20px 10px 20px;
  margin-bottom: 15px;
  background-color: #fff;
  .poem-title{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .title-link{
    font-weight:600;
  }
  .title-link:hover,.title-link:focus{
    color: #006ac5;
    text-decoration: none;
  }
  .poem-author{
    padding-top: 6px;
    padding-bottom: 6px;
    p{
      margin-bottom: 0;
    }
    a.author_dynasty,a.author_name{
      color: #65645F;
    }
    a.author_dynasty:hover,a.author_name:hover,
    a.author_dynasty:focus,a.author_name:focus,
    a.author_dynasty:active,a.author_name:active{
      color: #b93435;
      text-decoration: none;
    }
  }
  .poem-content{
    .poem-xu{
      color: #999;
    }
    .p-content{
      color: #333;
    }
  }
  .poem-tool{
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #f3f3f3;
    .collect,.copy,.like,.speaker{
      float: left;
      font-size: 18px;
      margin-right: 10px;
      cursor: pointer;
    }
    .like.active{
      color: #337ab7;
    }
    .collect.active{
      color: #337ab7;
    }
  }
  .poem-tag{
    color: #999;
    p{
      margin-bottom: 0;
    }
    a{
      color: #999;
    }
    .tag.active{
      color: #006ac5;
    }
    a:focus,a:hover{
      color: #006ac5;
      text-decoration: none;
    }
  }
  // poem show
  .card-title{
    h2.title{
      font-size: 18px;
      font-weight:600;
      margin-top: 0;
      //border-bottom: 2px solid #DAD9D1;
      //padding-bottom: 20px;
    }
  }
  .reference{
    color: #999;
    border-top: 1px solid #DAD9D1;
    h3.ref-title{
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;
      margin-top:0;
      margin-bottom:0;
    }
  }
  ol{
    list-style: decimal;
    padding-left: 15px;
  }
}