@import "components/header";
@import "components/left_side";
@import "components/poem_card";
@import "components/reset";
.no-padding{
  padding-left: 0!important;
  padding-right: 0!important;
}
a:hover,a:focus{
  text-decoration: none;
}
.main_content{
  background-color: #f3f3f3;
}
.topTypeHeader{
  //margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  .topTypeHeader-nav{
    padding-left: 20px;
  }
  a.topTypeHeader-rightItem.pull-left {
    color: #777;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 4px solid #777;
  }
  a.topTypeHeader-navItem{
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    min-width: 40px;
    color: #777;
  }
  a.topTypeHeader-navItem.active{
    color: #337ab7;
  }
  .topTypeHeader-nav.top {
    border-bottom: 2px solid #eee;
    margin: 0 20px;
    padding-left: 0;
    padding-bottom: 5px;
    span {
      color: #777;
      font-size: 18px;
      font-weight: 600;
    }
  }
}
.main_left,.main_right{
  padding-top: 20px;
  padding-bottom: 20px;
}
// go Top
.CornerButtons {
  position: fixed;
  bottom: 0;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease,-webkit-transform .2s ease;
  will-change: transfrom
}

.CornerAnimayedFlex {
  width: 40px;
  height: 52px;
  -webkit-transition: height .2s ease;
  transition: height .2s ease
}

.CornerAnimayedFlex--hidden {
  height: 0
}

.CornerButton {
  background: #fff;
  border-radius: 4px;
  border-width:0;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
  box-shadow: 0 1px 3px rgba(0,0,0,.1)
}

.CornerButton:hover {
  background: #d5dbe7
}

.CornerButton .Zi {
  fill: #9aaabf;
  width: 24px;
  height: 24px;
}

.CornerButton .Zi:hover {
  fill: #8d9eb3
}
// footer
.zh-footer, .zh-footer a {
  color: #999;
}
.zh-footer {
  clear: both;
  text-align: right;
}
.zh-footer .content {
  padding: 20px 15px;
  border-top: 1px solid #ccc;
}
.zg-wrap {
  width: auto;
  margin: 0 auto;
  clear: both;
  p.p-copy{
    float: left;
  }
}
.zh-footer ul, .zh-footer li {
  display: inline;
}
.zh-footer .copy {
  float: left;
}
.ContactPage{
  ul,ol{
    list-style: inherit;
  }
}
/* tool */
.tool-content{
  position: relative;
}
.tool-content ul.list-items{
  position: absolute;
  top: 34px;
  right: 0;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
  z-index: 999;
  opacity: 0.9;
  background-color: #e6e6e6;
}
.tool-content .list-items .item a{
  display: block;
  width: 100%;
  color: #333;
  line-height: 25px;
  padding-left: 15px;
  padding-right: 15px;
}
.tool-content .list-items .item a:hover{
  background-color: #0d6aad;
  color: #fff;
}
@media(max-width:736px){
  .main_left,.main_right{
    padding-left: 0;
    padding-right: 0;
  }
  .zg-wrap ul{
    padding-left: 0;
  }
  .zh-footer ul,.zh-footer li{
    display: block;
    float: left;
  }
}
@media (min-width: 992px){
  header.navbar>div ,main.main_content>div.content{
    margin-left: 12.5%;
  }
}
.WB_follow_ex .follow_text {
  min-width: 40px;
}
@import "vendor/toast";
@import "vendor/animate";